:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --gray-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.header ul {
  list-style: none;
}
.list link
  text-decoration: none;
}

button {
  font-family: inherit;
}
/* Logo */
.logo {
  color: var(--title-text-color);
}
.header-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
}
.header-title {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.2;
}
.link.current {
  color: var(--accent-color);
  background: var(--primary-white-color);
}
.link.secondary {
  color: var(--title-text-color);
  background: var(--primary-white-color);
}
.site-nav.link.secondary:hover {
  color: var(--title-text-color);
}
/* Contacts-nav */
.contacts-nav {
  color: var(--primary-text-color);
}

.contacts-nav:hover,
.contacts-nav:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* Hero*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);
}
/* Section */
.section-title {
  color: var(--title-text-color);
}
/* Features */
.features-title {
  color: var(--title-text-color);
}
/* Button */
.button {
  color: var(--primary-text-color);
  background: var(--primary-white-color);
}
.button.primary {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Footer */
.footer {
  background: var(--gray-bg-color);
}
.footer-content {
  color: var(--accent-color);
  font-family: Raleway;
}
.footer-link {
  color: var(--accent-color);
}
.footer-list {
  color: var(--primary-white-color);
}
.footer-text {
  color: var(--primary-white-color);
}
.footer-link {
  color: var(--footer-text-color);
}
